<div class="navbar-form navbar-left api-search-form" role="search">
  <div class="form-group">
    <label for="api-search">Search:
      <input type="text" class="form-control api-search-parameter"
             placeholder="API" id="api-search" name="api-search">
    </label>
  </div>
</div>
