<div class="navbar-form navbar-left api-search-form" role="search">
  <div class="form-group">
    <input type="text" class="form-control api-search-parameter"
           placeholder="Search" id="api-search" name="api-search">
  </div>
</div>
